/* Setzt die Seite so, dass sie die gesamte Viewporthöhe ausfüllt */
body, html {
  height: 100%; /* Volle Höhe für den Body */
  width: 100%;
  margin: 0; /* Entfernt Standard-Margen */
  overflow: hidden; /* Verhindert das Scrollen */
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
}

.bg {
  position: absolute; /* Positioniert das Video im Hintergrund */
  top: 0;
  left: 0;
  width: 100%;  /* Stellt sicher, dass das Video den gesamten Bildschirm ausfüllt */
  height: 100%; /* Setzt die Höhe auf 100% */
  object-fit: cover; /* Lässt das Video das gesamte Container ausfüllen, ohne das Seitenverhältnis zu verlieren */
  /*z-index: -1; 
  /* From https://css.glass */
;/* Stellt sicher, dass das Video hinter dem Content bleibt */
}

.component {
  background-color: white;
  width: 50%;
  max-width: 600px;
  margin: 1em auto;
  padding-bottom: 2em;
  border: 0.1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1; /* Stellt sicher, dass die Komponente über dem Hintergrund bleibt */
  text-align: center; /* Zentriert den Text */
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(4px);
border: 1px solid rgba(255, 255, 255, 0.3)
}

.musicCover {
  border-radius: 10%;
  width: 85%;
  align-items: center;
  object-fit: contain;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.subTitle {
  margin-top: -1em;
  color: #4f4f4f;
  text-align: center;
}

.time {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #050505;
  font-size: smaller;
}

.timeline {
  margin-left: -13px;
  width: 120%;
  background-color: #27ae60;
  margin-bottom: 10px;
}

input[type="range"] {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}
